HA_BASE_URL=http://homeassistant.local:8123
HA_TOKEN=your_long_lived_access_token
HA_WEATHER_ENTITY=weather.home
HA_INDOOR_TEMP_ENTITY=sensor.living_room_temperature
HA_OUTDOOR_TEMP_ENTITY=sensor.outdoor_temperature
HA_HEATER_ENTITY=climate.living_room
HA_SCENE_MORNING=scene.morning
HA_SCENE_NIGHT=scene.night
HA_SCENE_AWAY=scene.away
